#header {
  padding: 16px 0;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav li {
  padding: 0 8px;
  display: inline-block;
}

#nav li:first-child {
  padding-left: 0;
}

#content {
  padding: 16px 0;
}

#footer {
  border-top-width: 1px;
  padding-top: 16px;
  text-align: center;
}

.container:after {
  display: none;
}
