<!DOCTYPE html>
<html>
  <head>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="Wai Ho Leung">
    <title>{{ page.title }} - Wai Ho Leung</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blueprint.css" media="screen" charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" media="screen" charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/themes/default.css" media="screen" charset="UTF-8" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <article>
      <div class="container">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
    </article>
    <footer>
      <div class="container">
        &copy; 2014 Wai Ho Leung All Rights Reserved
      </div>
    </footer>
  </body>
</html>
